p#content {
    height: 540px;
    width: 74%;
    background-color: hotpink;
    background-image: url(Aadiyogi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    float: right;
    color: #BDC3C7;
    text-align: justify;
    text-transform: uppercase;
    text-indent: 50px;
    letter-spacing: 1px;
    padding: 25px;
    border:4px white dotted;
    font-family: comic sans ms;
    font-size: 13px;
    line-height: 1.6;
:link {
    background-color: red;
    color: aqua;
}
:visited {
    background-color: yellow;
    color: blue;
}
:hover {
    background-color: red;
    color: yellow;
    border-bottom: 2px white dotted;
}
:active {
    background-color: red;
    color: yellow;
    border-top: 2px white dotted;
}