div#Gradient1{
    height: 200px;
    width: 200px;
    background-color: darkred;
    background-image: conic-gradient(red,yellow,green);

}
#Gradient2{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red,yellow,green, blue);
}
#Gradient3{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
}
#Gradient4{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(red,yellow,green,blue,black);
    border-radius: 50%;
}
#Gradient5{
    height: 200px;
    width: 200px;
    background-color: red; 
    background-image: conic-gradient(red 0deg,red 90deg,yellow 90deg,yellow 180deg,green 180deg,green 270deg, blue 270deg );
    border-radius: 50%;
}
#Gradient6{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: conic-gradient(from 90deg,red,yellow,green);
    border-radius: 50%;
}
#Gradient7{
    height: 200px;
    width: 200px;
    background: red;
    background-image: conic-gradient(at 60%45%,red, yellow,green);
    border-radius: 50%; 
}
#Gradient8{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: repeating-conic-gradient(red 10%,yellow 12%);
    border-radius: 50%;
}
#Gradient9{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: repeating-conic-gradient(red 0deg 10deg,yellow 10deg 20deg, blue 20deg 30deg);
    border-radius: 50%;
}
