h3{
    background-color: beige;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 2px;
}
ul li{
    display: block;
    float: left;
}
li ul{
    display: none;
}
ul li{
    display: block;
    background-color: #007689;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 100px;
    border: 2px solid red;
}
ul li:hover{
    background-color: #007689;
    color: white;
}
li:hover ul{
    display: block;
    position: absolute;
}
li:hover li{
    float: none;
}
li:hover{
    background-color: #94c548;
}


