#head1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: rgb(34, 172, 21);
}
#one{
    text-decoration: overline;
}
#two{
    text-decoration: underline;
}
#three{
    text-decoration: line-through;
}
#Four{
    text-decoration: underline overline; 
}
#ek{
    text-decoration-line: overline;
    text-decoration-color: red;
}
#do{
    text-decoration-line: underline;
    text-decoration-color: green;
}
#teen{
    text-decoration-line: line-through;
    text-decoration-color: blue;
}
#chaar{
    text-decoration-line: underline overline;
    text-decoration-color: purple;
}
#h1{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
#h2{
    text-decoration-line: underline;
    text-decoration-style: double;
}
#h3{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
#p1{
    text-decoration-line: underline;
    text-decoration-style: dashed
}
#p2{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
#p3{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}
#hek{
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}
#hdo{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}
#hteen{
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
}
#pchaar{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
#hh1{
    text-decoration: underline;
}
#hh2{
    text-decoration: underline red;
}
#hh3{
    text-decoration: underline red double;
}
#pp{
    text-decoration: underline red double 5px;
}
#head2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: rgb(190, 19, 224);
}
#uppercase{
    text-transform: uppercase;
}
#lowercase{
    text-transform: lowercase;
}
#capitalize{
    text-transform: capitalize;
}
#head3{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: rgb(118, 12, 255);
}
#indent1{
    text-indent: 50px;
}
#l1{
    letter-spacing: 5px;
}
#l2{
    letter-spacing: 2px;
}
#small{
    line-height: 0.7;
}
#bigger{
    line-height: 1.8;
}
#larger{
    word-spacing: 10px;
}
#samller{
    word-spacing: 2px;

}
#white{
    white-space: no-wrap;
}

